extends layout
block header
  header(class='logo')
    nav(class='container')
      div(class='grid-1')
        a(class='logo__back' href='/#restaurants')
          span(class='fas fa-arrow-left')
        h1(class='logo__text')= title
block content
  div(class='intro')
      img(src= restaurant.imgUrl, alt=restaurant.title)
  section(class='restaurant')
    div(class='container')
      div(class='restaurant__title')
        h2= restaurant.title
        div(class='card__like')
          input(type='checkbox', id='like')
          label(for='like', class='far fa-heart')
      div(class='grid-1 grid-3')
        div(class='menu')
          h3(class='menu__title') ENTRÉES
          - var n = 0;
          each val in restaurant.starter
            - n++
            div(class='menu__box delay-' + n)
              div(class='menu__desc')
                p= val.name
                p= val.desc
              div(class='menu__price')
                span= val.price
              input(type='checkbox', id='checked-'+ n)
              label(for='checked-'+ n class='order')
                span(class='order__box')
                  span(class='order__check')
                    span(class='fas fa-check')

        div(class='menu')
          h3(class='menu__title') PLATS
          each val in restaurant.main
            - n++
            div(class='menu__box delay-' + n)
              div(class='menu__desc')
                p= val.name
                p= val.desc
              div(class='menu__price')
                span= val.price
              input(type='checkbox', id='checked-'+ n)
              label(for='checked-'+ n class='order')
                span(class='order__box')
                  span(class='order__check')
                    span(class='fas fa-check')

        div(class='menu')
          h3(class='menu__title') DESSERTS
          each val in restaurant.dessert
            - n++
            div(class='menu__box delay-' + n)
              div(class='menu__desc')
                p= val.name
                p= val.desc
              div(class='menu__price')
                span= val.price
              input(type='checkbox', id='checked-'+ n)
              label(for='checked-'+ n class='order')
                span(class='order__box')
                  span(class='order__check')
                    span(class='fas fa-check')

      button Commander