extends layout
block header
  header
    nav(class='nav')
      h1: a(class='nav__back nav__title' href='/#restaurants')= title
block content
    div(class='intro')
        img(src= restaurant.imgUrl, alt=restaurant.title)
    section(class='restaurant')
      div(class='restaurant__title')
        h2(class='')= restaurant.title
        div(class='restaurant__like')
          input(type='checkbox', id='like')
          label(for='like', class='far fa-heart')
      div(class='menu')
        h3(class='dish--border') ENTRÉES
        - var n = 0;
        each val in restaurant.starter
          - n++
          div(class='dish__box delay-' + n)
            div(class='dish__desc')
              p= val.name
              p= val.desc
            div(class='dish__price')
              span= val.price
            input(type='checkbox', id='checked-'+ n)
            label(for='checked-'+ n class='order')
              span(class='order__box')
                span(class='order__check')
                  span(class='fas fa-check')

      div(class='menu')
        h3(class='dish--border') PLATS
        each val in restaurant.main
          - n++
          div(class='dish__box delay-' + n)
            div(class='dish__desc')
              p= val.name
              p= val.desc
            div(class='dish__price')
              span= val.price
            input(type='checkbox', id='checked-'+ n)
            label(for='checked-'+ n class='order')
              span(class='order__box')
                span(class='order__check')
                  span(class='fas fa-check')

      div(class='menu')
        h3(class='dish--border') DESSERTS
        each val in restaurant.dessert
          - n++
          div(class='dish__box delay-' + n)
            div(class='dish__desc')
              p= val.name
              p= val.desc
            div(class='dish__price')
              span= val.price
            input(type='checkbox', id='checked-'+ n)
            label(for='checked-'+ n class='order')
              span(class='order__box')
                span(class='order__check')
                  span(class='fas fa-check')
      div(class='order__btn')
        button Commander